html {
  font-size: 18px;
}
h1 {
  text-align: center;
}
.converter {
  margin: auto;
  width: 50%;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.from {
  display: flex;
  flex-direction: column;
}
.to {
  display: flex;
  flex-direction: column;
}
.equal {
  font-size: 2rem;
}
